

/*.hero{
  background-image: url('image/hero2.jpg');
  background-size: contain;
    background-repeat: no-repeat;
  height: 70vh;
  color: white;
  font-size: 24px;
  font-weight: 600px;
  font-family: 'Poppins', sans-serif;
  line-height: 50px;
  padding-top: 195px;
  padding-left: 100px;
}

.a-link{
    width: 192px;
    height: 49px;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 30px;
}
.t-v{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.f-d{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    margin-top: 40px;
    margin-left: 70px;
}
.f-d a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;       
  font-size: 16px;        
  color: #212738;  
  text-decoration: none; 
}

.a-l {
  display: inline-block;
  width: 192px;
  height: 49px;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  text-align: center;
  line-height: 49px; 
  text-decoration: none; 
  transition: all 0.3s ease;
}

.a-l:hover {
  background-color: blue;
  color: white;
}

.m-d{
     margin-top: 200px;
}

.m-d h1{
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.m-d p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    color: #2F353D;
}
.d-f{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 50px;
}
.a-l-1{
  display: inline-block;
  width: 192px;
  height: 49px;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  text-align: center;
  line-height: 49px; 
  text-decoration: none; 
  transition: all 0.3s ease;
}

.a-l-1:hover{
  background-color: blue;
  color: white;
}
.m-d-1 h1{
  font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.m-d-1 p{
  font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    color: #2F353D;
}
.d-f-1{
  display: flex;
    flex-direction: row;
    margin-top: 80px;
}
.m-d-1{
     margin-top: 200px;
    margin-left: 70px;
}
.mg-mp{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  color: black;
}
.mg_mp{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 180px;
  color: black;
  text-align: center;
}

.h:hover img {
  transform: scale(1.05); 
}

.mg-mp-1{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 80px;
  margin-top: 150px;
}
.hashtag{
  text-align: center;
}

.hashtag:hover{
  transform: scale(1.05);
} */