body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero{
  background-size: cover;
  /*aspect-ratio: 16/9;*/
  background-repeat: no-repeat;
  color: white;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  /*line-height: 50px;*/
  /*padding-top: 195px;*/
  /*padding-left: 100px;*/
}
@media (max-width: 768px){
  .hero{
    display: none;
  }
}